@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color */
  --color-dark-0: 0, 0%, calc(var(--ratio-major-third) * 100%);
  --color-dark-1: 0, 0%, calc(var(--ratio-major-third) * 80%);
  --color-dark-2: 0, 0%, calc(var(--ratio-major-third) * 60%);
  --color-dark-3: 0, 0%, calc(var(--ratio-major-third) * 40%);
  --color-dark-4: 0, 0%, calc(var(--ratio-major-third) * 20%);
  --color-dark-5: 0, 0%, calc(var(--ratio-major-third) * 10%);
  --color-dark-6: 0, 0%, calc(var(--ratio-major-third) * 5%);

  --color-light-0: 0, 0%, calc(var(--ratio-major-third) * 100%);
  --color-light-1: 0, 0%, calc(var(--ratio-major-third) * 80%);
  --color-light-2: 0, 0%, calc(var(--ratio-major-third) * 60%);
  --color-light-3: 0, 0%, calc(var(--ratio-major-third) * 40%);
  --color-light-4: 0, 0%, calc(var(--ratio-major-third) * 20%);
  --color-light-5: 0, 0%, calc(var(--ratio-major-third) * 10%);
  --color-light-6: 0, 0%, calc(var(--ratio-major-third) * 5%);

  --color-foreground: rgb(var(--color-light-0));
  --color-background: rgb(var(--color-dark-6));



  /* Ratios */
  --ratio-major-third: 1.25;
  --ratio-minor-third: 1.2;
  --ratio-perfect-fourth: 1.333;
  --ratio-perfect-fifth: 1.5;
  --ratio-golden: 1.618;

  /* Scales */
  --scale-major-third: var(--ratio-major-third);
  --scale-major-third-1: calc(var(--scale-major-third) * var(--ratio-major-third));
  --scale-major-third-2: calc(var(--scale-major-third-1) * var(--ratio-major-third));
  --scale-major-third-3: calc(var(--scale-major-third-2) * var(--ratio-major-third));
  --scale-major-third-4: calc(var(--scale-major-third-3) * var(--ratio-major-third));
  --scale-major-third-5: calc(var(--scale-major-third-4) * var(--ratio-major-third));
  --scale-major-third-6: calc(var(--scale-major-third-5) * var(--ratio-major-third));

  /* Sizes */
  --size-base: 5px;
  --size-xs: calc(var(--size-base) * var(--ratio-major-third));
  --size-sm: calc(var(--size-xs) * var(--ratio-major-third));
  --size-md: calc(var(--size-sm) * var(--ratio-major-third));
  --size-lg: calc(var(--size-md) * var(--ratio-major-third));
  --size-xl: calc(var(--size-lg) * var(--ratio-major-third));
}

/* Height */
.height-xs {
  height: var(--size-xs);
}
.height-sm {
  height: var(--size-sm);
}
.height-md {
  height: var(--size-md);
}
.height-lg {
  height: var(--size-lg);
}
.height-xl {
  height: var(--size-xl);
}

/* Width */
.width-xs {
  width: var(--size-xs);
}
.width-sm {
  width: var(--size-sm);
}
.width-md {
  width: var(--size-md);
}
.width-lg {
  width: var(--size-lg);
}
.width-xl {
  width: var(--size-xl);
}

/* Margin */
.margin-xs {
  margin: var(--size-xs);
}
.margin-sm {
  margin: var(--size-sm);
}
.margin-md {
  margin: var(--size-md);
}
.margin-lg {
  margin: var(--size-lg);
}
.margin-xl {
  margin: var(--size-xl);
}


/* Padding */
.padding-xs {
  padding: var(--size-xs);
}
.padding-sm {
  padding: var(--size-sm);
}
.padding-md {
  padding: var(--size-md);
}
.padding-lg {
  padding: var(--size-lg);
}
.padding-xl {
  padding: var(--size-xl);
}


/* Font */
.font-sm {
  font-size: var(--font-size-0);
}
.font-md {
  font-size: var(--font-size-1);
}
.font-lg {
  font-size: var(--font-size-2);
}
.font-xl {
  font-size: var(--font-size-3);
}

/* Radius */
.radius-none {
  border-radius: 0;
}
.radius-xs {
  border-radius: var(--size-xs);
}
.radius-sm {
  border-radius: var(--size-sm);
}
.radius-md {
  border-radius: var(--size-md);
}
.radius-lg {
  border-radius: var(--size-lg);
}
.radius-xl {
  border-radius: var(--size-xl);
}

/* Border */
.border {
  border-width: var(--size-1);
  border-style: solid;
  border-color: rgb(var(--color-foreground));
}



/* Utilities */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.row {
  flex-direction: row;
  grid-auto-flow: row;
}

.col {
  flex-direction: column;
  grid-auto-flow: column;
}

.center-x {
  justify-content: center;
}

.center-y {
  align-items: center;
}

.center-xy {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.box {
  @apply flex;
  @apply padding-sm;
  @apply margin-sm;
  @apply radius-sm;
  @apply shadow-sm;
  @apply border;
}

.appearance-none {
  appearance: none;
}

.reset {
  all: unset;
  @apply appearance-none;
}

/* Elements */

/* Elements/Features */
.calendar {
  @apply box;
}

header {
  @apply radius-sm;
  @apply padding-sm;
}

/* Elements/UI */
input, select {
  @apply reset;
  @apply border;
  @apply radius-sm;
  @apply padding-sm;
}

.tag {
  @apply box;
  @apply border;
}



.shadow-none {
  box-shadow: none;
}

.shadow-sm {
  box-shadow: 0 0 0 var(--size-sm) rgba(var(--color-foreground), 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground: rgb(var(--color-dark-0));
    --color-background: rgb(var(--color-light-6));
  }
}

body {
  color: rgb(var(--color-foreground));
  background: rgb(var(--color-background));
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}
