@import "variables.scss";

@mixin flex {
    display: flex;
}

@mixin grid {
    display: grid;
}

@mixin row {
    flex-direction: row;
    grid-auto-flow: row;
}

@mixin col {
    flex-direction: column;
    grid-auto-flow: column;
}

@mixin center-x {
    justify-content: center;
}

@mixin center-y {
    align-items: center;
}

@mixin center-xy {
    justify-content: center;
    align-items: center;
}

@mixin space-between {
    justify-content: space-between;
}

@mixin box {
    @include flex;
    @include col;
    @include center-xy;
}

@mixin appearance-none {
    appearance: none;
}

@mixin reset {
    all: unset;
    @include appearance-none;
}

@mixin shadow-none {
    box-shadow: none;
}

@mixin shadow-sm {
    box-shadow: 0 0 0 $size-sm $color-foreground;
}

@mixin shadow-md {
    box-shadow: 0 0 0 $size-md $color-foreground;
}

@mixin shadow-lg {
    box-shadow: 0 0 0 $size-lg $color-foreground;
}

@mixin shadow-xl {
    box-shadow: 0 0 0 $size-xl $color-foreground;
}

/* Height */
@mixin height-xs {
    height: $size-xs;
}
@mixin height-sm {
    height: $size-sm;
}
@mixin height-md {
    height: $size-md;
}
@mixin height-lg {
    height: $size-lg;
}
@mixin height-xl {
    height: $size-xl;
}

/* Width */
@mixin width-xs {
    width: $size-xs;
}
@mixin width-sm {
    width: $size-sm;
}
@mixin width-md {
    width: $size-md;
}
@mixin width-lg {
    width: $size-lg;
}
@mixin width-xl {
    width: $size-xl;
}

/* Margin */
@mixin margin-xs {
    margin: $size-xs;
}
@mixin margin-sm {
    margin: $size-sm;
}
@mixin margin-md {
    margin: $size-md;
}
@mixin margin-lg {
    margin: $size-lg;
}
@mixin margin-xl {
    margin: $size-xl;
}

/* Padding */
@mixin padding-xs {
    padding: $size-xs;
}
@mixin padding-sm {
    padding: $size-sm;
}
@mixin padding-md {
    padding: $size-md;
}
@mixin padding-lg {
    padding: $size-lg;
}
@mixin padding-xl {
    padding: $size-xl;
}

/* Font */
@mixin font-sm {
    font-size: $size-sm;
}
@mixin font-md {
    font-size: $size-md;
}
@mixin font-lg {
    font-size: $size-lg;
}
@mixin font-xl {
    font-size: $size-xl;
}

/* Radius */
@mixin radius-none {
    border-radius: 0;
}
@mixin radius-xs {
    border-radius: $size-xs;
}
@mixin radius-sm {
    border-radius: $size-sm;
}
@mixin radius-md {
    border-radius: $size-md;
}
@mixin radius-lg {
    border-radius: $size-lg;
}
@mixin radius-xl {
    border-radius: $size-xl;
}

/* Border */
@mixin border($width: 1px, $style: solid, $color: $color-foreground) {
    border-width: $width;
    border-style: $style;
    border-color: $color;
}

